<div class="container">

  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">Accounts</div>
        <div class="card-body">
          <form [formGroup]="searchAccountForm" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">Account Id:</label>
              <input type="text" formControlName="accountIdd" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
          <ng-container *ngIf="accounts | async as accountDetails ">
            <div >
              <label>Account Id : </label>
              <label><strong>{{accountDetails.accountId}}</strong></label>
            </div>
            <div class="">
              <label>Balance : </label>
              <label><strong>{{accountDetails.balance | number : '1.2-2'}}</strong></label>
            </div>
            <table class="table">
              <thead>
              <th>ID:</th>
              <th>Date op:</th>
              <th>Type </th>
              <th>Description:</th>
              <th>Amount</th>
              </thead>
              <tbody>
              <tr *ngFor="let op of accountDetails.accountOperationDTOS">
                <td>{{op.id}}</td>
                <td>{{op.operationDate | date: 'dd-mm-yy'}}</td>
                <td>{{op.type}}</td>
                <td>{{op.description}}</td>
                <td>{{op.amount | number :'1.2-2'}}</td>
              </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let item of [].constructor(accountDetails.totalPages); let page=index">
                <a [ngClass]="page==currentPage?'btn-outline-info':'btn-outline'" (click)="gotoPage(page)" class="btn  ms-1 ">{{page}}</a>
              </li>
            </ul>

          </ng-container>

        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card" *ngIf="accounts" >
        <div class="card-header">Operations</div>
        <div class="card-body">

          <form [formGroup]="OpForm" (ngSubmit)="handleAccountOp()" method="post">
            <div class="form-check form-check-inline">
              <label class="form-check-label">Debit:</label>
              <input class="form-check-input" type="radio" formControlName="optype" value="DEBIT">
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">Credit:</label>
              <input class="form-check-input" type="radio" formControlName="optype" value="CREDIT">
            </div>
            <div class="form-check form-check-label" >
              <label class="form-check-label">Transfer:</label>
              <input class="form-check-input" type="radio" formControlName="optype" value="TRANSFER">
            </div>
            <div class="mb-3" *ngIf="OpForm.value.optype=='TRANSFER'">
              <label class="form-label">Account Destination:</label>
              <input type="text" formControlName="accountDest" class="form-control" >

            </div>
            <div class="mb-3">
              <label class="form-label">Description:</label>
              <input type="text" formControlName="desc" class="form-control" >

            </div>
            <div class="mb-3">
              <label class="form-label">Amount:</label>
              <input type="text" formControlName="amount" class="form-control" >

            </div>
            <div class="d-grid mb-3">
            <button class="btn btn-success ">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
